html,body{
	margin:0;
	width:100%;
	height:100%;
  }


.container {
	margin-bottom: 70px;
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
	text-align: center;

  }
  
#content-box{
	min-height: 100%;
	margin:-100px 0 -50px;
}

#content{
	padding:100px 0 50px;}

/* 버튼 */
  #main_wrap{
	width: 100%;
	min-height: 70px;
	padding-top:200px;
	padding-bottom:80px;
	margin-bottom: 0px;
	
  }
  
   footer{
	  position:fixed; 
	  bottom:0px; 
	  height:60px; 
	  width: 100%;
	  max-height:510px ;
	  min-width:100px;
	  margin-bottom: 0px;
	  z-index: 1;
	}
  
  .main_btn{ 
	display: block !important;
	width:150px;
	height:40px;
	line-height: 40px;
	margin: 0 auto;
	margin-bottom: 20px;
	scroll-margin-top: 60px;
	cursor:pointer;
  }
