node_modules
/awsconfig.json
/config/awsconfig.json
/web/config/awsconfig.json
/google copy.json
/config/google copy.json
/web/config/google copy.json
/google.json
/config/google.json
/web/config/google.json
/db2.json
/database.json