*,
html,
body {
  padding: 0;
  margin: 0;
  /* color: white; */
  box-sizing: border-box;
  font-weight: 400;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: transparent;
}

.tabs {
  text-align: center;
}

#toggleContainer label {
  text-align: center;
  /* width: 70px; */
}

#container {
  height: 100vh;
  box-sizing: border-box;
  max-width: 60%;
}

#toggleContainer {
  height: 10vh;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  width: 95vw;
  position: absolute;
}

#tilesContainer {
  min-height: 90vh;
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: center;
  margin-left: 50%;
}

.tileItem {
  width: 250px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;

  transition: all 0.5s ease;
}

.tileItem:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

#galleryContainer {
  height: 500px;
  width: 800px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-left: 50%;
}

#toggle {
  height: 10vh;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
}

#tilesView {
  /* min-height: 100vh; */

  /* width: 100vw; */
  background: transparent;
  /* background: linear-gradient(
    111deg,
    rgb(223, 223, 223) 0%,
    rgb(255, 255, 255) 52%,
    rgb(170, 170, 170) 100%
  ); */
  display: none;
  /* justify-content: center;
  align-items: center; */
}

#galleryView {
  height: 100vh;
  /* width: 100vw; */
  background: transparent;
  /* background: linear-gradient(
    111deg,
    rgb(223, 223, 223) 0%,
    rgb(255, 255, 255) 52%,
    rgb(170, 170, 170) 100%
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer3 {
  width: 100px;
  height: 40px;
  background-color: rgb(207, 207, 207);
  margin: 10px auto;
  border-radius: 3px;
  border: 2px solid white;
  transition: all 0.5s;
}

#slider3 {
  height: 36px;
  width: 46px;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  transition: all 0.5s;
}

#slider3.active {
  -webkit-transform: translatex(50px);
  -ms-transform: translatex(50px);
  -o-transform: translatex(50px);
  transform: translatex(50px);
  transition: all 0.5s;
  background-color: rgb(0, 0, 0);
}

#outer3.outerActive {
  background-color: rgb(207, 207, 207);
  border: 2px solid white;
  transition: all 0.5s;
}

#mainView {
  height: 450px;
  width: 450px;
  border-radius: 5px;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
}

#mainView:hover {
  transform: scale(1.2);
  transition: all 1s;
}

#leftView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns:hover {
  opacity: 1;
  /* transition: all 1s;
  background-color: black; */
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

#linkTag {
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}

span {
  text-align: center;
  width: 20%;
}
