body {
  background-color: #ffffff;
}

header {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background: url (catPattern.png) center center fixed no-repeat; */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.videoText {
  margin-top: -24px;
  text-align: center;
  font-size: 48px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  width: 100%;
  font-weight: 800;
}

section {
  padding-top: 4vw;
  padding-bottom: 4vw;
  background-color: #ffffff;
}

#content {
  padding-top: 20px;
  background-color: rgb(233, 233, 233);
  display: flexbox;
  align-content: center;
}

.contentImg {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  height: 250px;
  margin-right: 70px;
}

h5 {
  text-align: center;
  font-weight: 300;
}

h4 {
  font-weight: bold;
}

p {
  font-weight: 300;
}
