body {
  background-color: #ffffff;
  /* background-image: url('main2.jpg');
  background-size: 100% auto; */
}

header {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background: url (catPattern.png) center center fixed no-repeat; */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size : cover;
  width: auto;
  height: auto;
  z-index: -1;
  /* background-image: url('main2.jpg');
  background-size: 100% auto; */
}

.videoText {
  margin-top: -24px;
  text-align: center;
  font-size: 48px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  width: 100%;
  font-weight: 800;
}

.mainImg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background-image: url('mainBg.png');
  background-size: 100% auto;
}

section {
  padding-top: 4vw;
  padding-bottom: 4vw;
  background-color: #ffffff;
}

#content {
  padding-top: 20px;
  background-color: rgb(233, 233, 233);
  display: flexbox;
  align-content: center;
}

.contentImg {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  height: 250px;
  margin-right: 70px;
}

h5 {
  text-align: center;
  font-weight: 300;
}

h4 {
  font-weight: bold;
}

p {
  font-weight: 300;
}

.btn,
.btn-large,
.btn-small {
  background-color: rgb(58, 58, 58);
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: #242424;
}
