/* html,body{
	width:100%;
	height:100%;
}
#main_wrap{
	width: 100%;
	height:100%;
	padding-top:200px;
}

.main_btn{
	display: block !important;
	width:150px;
	height:40px;
	line-height: 40px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.page-footer{
    position:fixed; 
    bottom:0px; 
    height:60px; 
    width: 100%;
  }
 */


  html,body{
	margin:0;
	width:100%;
	height:100%;
  }


/* 버튼 */
  #main_wrap{
	width: 100%;
	min-height: 70px;
	padding-top:200px;
	padding-bottom:80px;
	margin-bottom: 0px;
	
  }
  
  footer{
	  position:fixed; 
	  bottom:0px; 
	  height:60px; 
	  width: 100%;
	  max-width: 1048;
	  min-width:100px;
	  margin-bottom: 0px;
	  z-index: 1;
	}
  
  .main_btn{ 
	display: block !important;
	width:150px;
	height:40px;
	line-height: 40px;
	margin: 0 auto;
	margin-bottom: 20px;
	scroll-margin-top: 60px;
	cursor:pointer;
  }


  